[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hidecan"]
	path = hidecan
	url = https://github.com/plantandfoodresearch/hidecan
